<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hq9FsaCj9u/8aEnxd1lVXjkzu0DZQDmhvzFJGgsxks7J4xaBQ12" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
    <!-- Add this in your <head> section -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">

    <title>Student Opportunities</title>
    <style>
        .card {
            transition: transform 0.1s ease-out;
        }
    
        .card:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transform: translateY(-2px) scale(1.04);
        }
    </style>
</head>

<body>
    <header class="text-white p-4" style="background-color: #333;">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md-5">
                    <a style="text-decoration: none; font-family: serif; color: white;" href="{{url_for('home')}}">
                        <h1 class="display-6"><i class="fas fa-graduation-cap"></i> Student Opportunities</h1>
                    </a>
                </div>
                <div class="col-md-7 text-md-end" style="display: flex; align-items: center;">

                    <form action="/search" method="POST">
                        <input type="text" name="search_input">
                        <button type="submit">Search</button>
                    </form>


                    <i class="fa-solid fa-circle-user" style="margin-left:80px; font-size: 34px;"></i>

                    <h5 style="margin-left: 17px;">{{ session['username'] }}</h5>

                    <a style="margin-left: 80px;" href="{{ url_for('logout1') }}" class="btn btn-light">Logout</a>
                    <!-- Add this input element inside the 'header' tag -->
                </div>
            </div>
        </div>
    </header>



    <div class="container mt-4">

        <div class="row">
            <div class="col-md-10" style="margin-top: 20px;">
                <div id="top" class="d-flex justify-content-between align-items-center">
                    <h2 class="mb-3" id="jobs" style="color: #03305f;">Available Jobs <i class="fas fa-briefcase"></i>
                    </h2>
                    <div class="dropdown" style="margin-right: 25px;">
                        <button style="box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);" class="btn btn-dark dropdown-toggle"
                            type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            select category
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#internships">Internships</a></li>
                            <li><a class="dropdown-item" href="#jobs">Jobs</a></li>
                        </ul>
                    </div>
                </div>
                <div id="job-listings" class="job-listings">
                    {% for job_listing in job_listings %}
                    <div class="card w-100">
                        <div class="card-body" style="display: flex; flex-direction: column; align-items: flex-start;">
                            <div class="company-name" style="display: none;">{{ job_listing[1] }}</div>
                            <div class="role" style="display: none;">{{ job_listing[2] }}</div>
                            <div class="category" style="display: none;">{{ job_listing[4] }}</div>
                            <div
                                style="margin-bottom: 10px; display: flex; justify-content: space-between; align-items: center; width: 100%;">
                                <div>

                                    <h4 class="card-title">

                                        <span style="color: rgb(81, 81, 81); margin-left: 120px;">{{ job_listing[1]
                                            }}</span>
                                    </h4>
                                    <br>
                                    <div style="display: flex;">
                                        <h6 style="margin-left: 110px;"><span class="text-color"><i
                                                    class="fa-solid fa-user"></i> Role: </span>
                                            <span style="color: rgb(112, 112, 112);">{{ job_listing[2] }}</span>
                                        </h6>
                                        <h6 style="margin-left: 50px;"><span class="text-color"><i
                                                    class="fas fa-map-marker-alt"></i>
                                                Location: </span>
                                            <span style="color: rgb(112, 112, 112);">{{ job_listing[3] }}</span>
                                        </h6>
                                        <h6 style="margin-left: 50px;"><span class="text-color"><i
                                                    class="fas fa-tag"></i> Category: </span>
                                            <span style="color: rgb(112, 112, 112);">{{ job_listing[4] }}</span>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <!-- Button is placed at the end of the flex container -->
                            <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseExample{{ loop.index }}" aria-expanded="false"
                                aria-controls="collapseExample{{ loop.index }}">
                                Apply
                            </button>
                            <div class="collapse mt-3" id="collapseExample{{ loop.index }}">
                                <div style="height: fit-content; width: 850px;  background-color: #f8f9fa;"
                                    class="card mb-3">
                                    <div class="card-body">
                                        <h5 class="mb-3" style="color: #03305f; text-align: center;">Submit Details</h5>
                                        <form action="/jobs" method="post" enctype="multipart/form-data" id="sub">
                                            <!-- <div class="col mb-1">
                                                <input type="text" name="fname" class="form-control"
                                                    placeholder="Your name" aria-label="First name">
                                            </div> -->
                                            <div style="display: flex;">
                                                <div class="col mb-1">
                                                    <select class="form-control" id="companyNameSelect"
                                                        name="companyname">
                                                        <option selected> Company name </option>
                                                        {% set displayed_companies = [] %} {# Initialize an empty list
                                                        to
                                                        store displayed
                                                        company
                                                        names #}
                                                        {% for listing in listings %}
                                                        {% if listing[1] not in displayed_companies %} {# Check if
                                                        company
                                                        name is
                                                        not already displayed #}
                                                        <option value="{{ listing[1] }}">{{ listing[1] }}</option>
                                                        {% set _ = displayed_companies.append(listing[1]) %} {# Add
                                                        company
                                                        name to
                                                        displayed_companies list #}
                                                        {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col mb-1">
                                                    <select class="form-control" id="roleSelect" name="role">
                                                        <option selected> Role </option>
                                                        {% for listing in listings %}
                                                        <option class="roleOption" value="{{ listing[2] }}"
                                                            data-company="{{ listing[1] }}">
                                                            {{ listing[2] }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                <div class="col mb-1">
                                                    <select class="form-control" id="specificSizeSelect"
                                                        name="category">
                                                        <option selected> Category </option>
                                                        {% set displayed_companies = [] %} {# Initialize an empty list
                                                        to
                                                        store displayed
                                                        company
                                                        names #}
                                                        {% for listing in listings %}
                                                        {% if listing[4] not in displayed_companies %} {# Check if
                                                        company
                                                        name is
                                                        not already displayed #}
                                                        <option value="{{ listing[4] }}">{{ listing[4] }}</option>
                                                        {% set _ = displayed_companies.append(listing[4]) %} {# Add
                                                        company
                                                        name to
                                                        displayed_companies list #}
                                                        {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <!-- <div class="col mb-1">
                                                <input type="text" name="contact" class="form-control"
                                                    placeholder="Contact" aria-label="First name">
                                            </div> -->
                                            </div>
                                            <br>
                                            <div class="form-group row">
                                                <label for="resume" class="col-sm-2 col-form-label"
                                                    style="color: #03305f;">Resume:</label>
                                                <div class="col-sm-10">
                                                    <input type="file" class="form-control-file" id="resume" name="cv"
                                                        accept=".pdf,.doc,.docx" required>
                                                </div>
                                            </div>


                                            <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <br>
                <div id="internships">
                    <div id="internships-section" class="d-flex justify-content-between align-items-center">
                        <h2 id="internships" style="color: #03305f;" class="mb-3">Internships <i
                                class="fas fa-hard-hat"></i></h2>
                    </div>

                    <div class="internship-listings">
                        {% for internship_listing in internship_listings %}
                        <div class="card w-100">
                            <div class="card-body"
                                style="display: flex; flex-direction: column; align-items: flex-start;">
                                <div
                                    style="margin-bottom: 10px; display: flex; justify-content: space-between; align-items: center; width: 100%;">
                                    <div>

                                        <h4 class="card-title"><span
                                                style="color: rgb(81, 81, 81); margin-left: 120px;"> {{
                                                internship_listing[1]
                                                }}</span></h4>
                                        <br>
                                        <div style="display: flex;">
                                            <h6 style="margin-left: 110px;"><span class="text-color"> <i
                                                        class="fa-solid fa-user"></i> Role: </span> <span
                                                    style="color: rgb(112, 112, 112);"> {{internship_listing[2]
                                                    }}</span>
                                            </h6>
                                            <h6 style="margin-left: 50px;"><span class="text-color"><i
                                                        class="fas fa-map-marker-alt"></i> Location:
                                                </span><span style="color: rgb(112, 112, 112);"> {{internship_listing[3]
                                                    }}</span>
                                            </h6>
                                            <h6 style="margin-left: 50px;"><span class="text-color"><i
                                                        class="fas fa-tag"></i> Category: </span><span
                                                    style="color: rgb(112, 112, 112);"> {{internship_listing[4]
                                                    }}</span>
                                            </h6>
                                        </div>
                                    </div>
                                </div>

                                <!-- Button is placed at the end of the flex container -->
                                <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseExample{{ loop.index }}" aria-expanded="false"
                                    aria-controls="collapseExample{{ loop.index }}">
                                    Apply
                                </button>
                                <div class="collapse mt-3" id="collapseExample{{ loop.index }}">
                                    <div style="height: fit-content; width: 850px;  background-color: #f8f9fa;"
                                        class="card mb-3">
                                        <div class="card-body">
                                            <h5 class="mb-3" style="color: #03305f; text-align: center;">Submit Details
                                            </h5>
                                            <form action="/jobs" method="post" enctype="multipart/form-data" id="sub">
        
                                                <div style="display: flex;">
                                                    <div class="col mb-1">
                                                        <select class="form-control" id="companyNameSelect"
                                                            name="companyname">
                                                            <option selected> Company name </option>
                                                            {% set displayed_companies = [] %} {# Initialize an empty
                                                            list
                                                            to
                                                            store displayed
                                                            company
                                                            names #}
                                                            {% for listing in listings %}
                                                            {% if listing[1] not in displayed_companies %} {# Check if
                                                            company
                                                            name is
                                                            not already displayed #}
                                                            <option value="{{ listing[1] }}">{{ listing[1] }}</option>
                                                            {% set _ = displayed_companies.append(listing[1]) %} {# Add
                                                            company
                                                            name to
                                                            displayed_companies list #}
                                                            {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <div class="col mb-1">
                                                        <select class="form-control" id="roleSelect" name="role">
                                                            <option selected> Role </option>
                                                            {% for listing in listings %}
                                                            <option class="roleOption" value="{{ listing[2] }}"
                                                                data-company="{{ listing[1] }}">
                                                                {{ listing[2] }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>

                                                    <div class="col mb-1">
                                                        <select class="form-control" id="specificSizeSelect"
                                                            name="category">
                                                            <option selected> Category </option>
                                                            {% set displayed_companies = [] %} {# Initialize an empty
                                                            list
                                                            to
                                                            store displayed
                                                            company
                                                            names #}
                                                            {% for listing in listings %}
                                                            {% if listing[4] not in displayed_companies %} {# Check if
                                                            company
                                                            name is
                                                            not already displayed #}
                                                            <option value="{{ listing[4] }}">{{ listing[4] }}</option>
                                                            {% set _ = displayed_companies.append(listing[4]) %} {# Add
                                                            company
                                                            name to
                                                            displayed_companies list #}
                                                            {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                    <!-- <div class="col mb-1">
                        <input type="text" name="contact" class="form-control"
                            placeholder="Contact" aria-label="First name">
                    </div> -->
                                                </div>
                                                <br>
                                                <div class="form-group row">
                                                    <label for="resume" class="col-sm-2 col-form-label"
                                                        style="color: #03305f;">Resume:</label>
                                                    <div class="col-sm-10">
                                                        <input type="file" class="form-control-file" id="resume"
                                                            name="cv" accept=".pdf,.doc,.docx" required>
                                                    </div>
                                                </div>


                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
            <!-- 
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h2 class="mb-3" style="color: #03305f; text-align: center;">Submit Details</h2>
                        <form action="/jobs" method="post" enctype="multipart/form-data">
                            <div class="col mb-1">
                                <input type="text" name="fname" class="form-control" placeholder="Your name"
                                    aria-label="First name">
                            </div>
                            <div class="col mb-1">
                                <select class="form-control" id="companyNameSelect" name="companyname">
                                    <option selected> Company name </option>
                                    {% set displayed_companies = [] %} {# Initialize an empty list to store displayed
                                    company
                                    names #}
                                    {% for listing in listings %}
                                    {% if listing[1] not in displayed_companies %} {# Check if company name is
                                    not already displayed #}
                                    <option value="{{ listing[1] }}">{{ listing[1] }}</option>
                                    {% set _ = displayed_companies.append(listing[1]) %} {# Add company name to
                                    displayed_companies list #}
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col mb-1">
                                <select class="form-control" id="roleSelect" name="role">
                                    <option selected> Role </option>
                                    {% for listing in listings %}
                                    <option class="roleOption" value="{{ listing[2] }}" data-company="{{ listing[1] }}">
                                        {{ listing[2] }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col mb-1">
                                <select class="form-control" id="specificSizeSelect" name="category">
                                    <option selected> Category </option>
                                    {% set displayed_companies = [] %} {# Initialize an empty list to store displayed
                                    company
                                    names #}
                                    {% for listing in listings %}
                                    {% if listing[4] not in displayed_companies %} {# Check if company name is
                                    not already displayed #}
                                    <option value="{{ listing[4] }}">{{ listing[4] }}</option>
                                    {% set _ = displayed_companies.append(listing[4]) %} {# Add company name to
                                    displayed_companies list #}
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col mb-1">
                                <input type="text" name="contact" class="form-control" placeholder="Contact"
                                    aria-label="First name">
                            </div>

                            <div class="form-group">
                                <label for="resume" style="color: #03305f;">Upload Resume:</label>
                                <input type="file" class="form-control-file" id="resume" name="cv"
                                    accept=".pdf,.doc,.docx" required>
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>

            </div> -->
        </div>
    </div>

    <footer class=" text-white text-center py-3 mt-4" style="  background-color: #333;">
        <div class="foot">
            <p>&copy; 2023 Student Opportunities</p>
            <p class="lead">Connecting students with internships and job opportunities.</p>
            <div class="footer-links">
                <a href="/terms">Terms of Service</a> | <a href="/privacy">Privacy Policy</a>
            </div>
        </div>
    </footer>

    <script>
        // Function to create a job listing card element
        function createJobListingCard(jobListing) {
            const card = document.createElement('div');
            card.classList.add('card', 'w-100');

            const cardBody = document.createElement('div');
            cardBody.classList.add('card-body', 'd-flex', 'flex-column', 'align-items-start');

            const companyNameDiv = document.createElement('div');
            companyNameDiv.classList.add('company-name');
            companyNameDiv.style.display = 'none';
            companyNameDiv.textContent = jobListing.companyname;

            const roleDiv = document.createElement('div');
            roleDiv.classList.add('role');
            roleDiv.style.display = 'none';
            roleDiv.textContent = jobListing.role;

            const categoryDiv = document.createElement('div');
            categoryDiv.classList.add('category');
            categoryDiv.style.display = 'none';
            categoryDiv.textContent = jobListing.category;

            const title = document.createElement('h4');
            title.classList.add('card-title');
            title.innerHTML = `<span style="color: rgb(81, 81, 81); margin-left: 120px;">${jobListing.companyname}</span>`;

            const detailsDiv = document.createElement('div');
            detailsDiv.style.marginBottom = '10px';
            detailsDiv.style.display = 'flex';
            detailsDiv.style.justifyContent = 'space-between';
            detailsDiv.style.width = '100%';
            detailsDiv.innerHTML = `
                <div>
                    <h6 style="margin-left: 110px;"><span class="text-color"><i class="fa-solid fa-user"></i> Role: </span>
                        <span style="color: rgb(112, 112, 112);">${jobListing.role}</span>
                    </h6>
                    <h6 style="margin-left: 50px;"><span class="text-color"><i class="fas fa-map-marker-alt"></i> Location: </span>
                        <span style="color: rgb(112, 112, 112);">${jobListing.location}</span>
                    </h6>
                    <h6 style="margin-left: 50px;"><span class="text-color"><i class="fas fa-tag"></i> Category: </span>
                        <span style="color: rgb(112, 112, 112);">${jobListing.category}</span>
                    </h6>
                </div>
            `;

            const applyButton = document.createElement('button');
            applyButton.classList.add('btn', 'btn-primary', 'mt-3');
            applyButton.setAttribute('type', 'button');
            applyButton.setAttribute('data-bs-toggle', 'collapse');
            applyButton.setAttribute('data-bs-target', `#collapseExample${jobListing.id}`);
            applyButton.setAttribute('aria-expanded', 'false');
            applyButton.setAttribute('aria-controls', `collapseExample${jobListing.id}`);
            applyButton.textContent = 'Apply';

            const collapseDiv = document.createElement('div');
            collapseDiv.classList.add('collapse', 'mt-3');
            collapseDiv.setAttribute('id', `collapseExample${jobListing.id}`);

            const cardInner = document.createElement('div');
            cardInner.style.height = 'fit-content';
            cardInner.style.width = '850px';
            cardInner.style.backgroundColor = '#f8f9fa';
            cardInner.classList.add('card', 'mb-3');

            const cardInnerBody = document.createElement('div');
            cardInnerBody.classList.add('card-body');
            cardInnerBody.innerHTML = `
                <h5 class="mb-3" style="color: #03305f; text-align: center;">Submit Details</h5>
                <form action="/jobs" method="post" enctype="multipart/form-data" id="sub">
                    <div style="display: flex;">
                        <div class="col mb-1">
                            <select class="form-control" id="companyNameSelect" name="companyname" required>
                                <option value="${jobListing.companyname}" selected>${jobListing.companyname}</option>
                            </select>
                        </div>
                        <div class="col mb-1">
                            <select class="form-control" id="roleSelect" name="role" required>
                                <option value="${jobListing.role}" selected>${jobListing.role}</option>
                            </select>
                        </div>
                        <div class="col mb-1">
                            <select class="form-control" id="specificSizeSelect" name="category" required>
                                <option value="${jobListing.category}" selected>${jobListing.category}</option>
                            </select>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label for="resume" class="col-sm-2 col-form-label" style="color: #03305f;">Resume:</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control-file" id="resume" name="cv" accept=".pdf,.doc,.docx" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            `;

            collapseDiv.appendChild(cardInner.appendChild(cardInnerBody));

            cardBody.appendChild(companyNameDiv);
            cardBody.appendChild(roleDiv);
            cardBody.appendChild(categoryDiv);
            cardBody.appendChild(title);
            cardBody.appendChild(detailsDiv);
            cardBody.appendChild(applyButton);
            cardBody.appendChild(collapseDiv);
            card.appendChild(cardBody);

            return card;
        }

        // Function to handle form submission and search using AJAX
        async function performSearch() {
            const searchForm = document.querySelector('form');
            const formData = new FormData(searchForm);
            const response = await fetch('/search', {
                method: 'POST',
                body: formData,
            });
            const data = await response.json();

            // Update the job listings on the page with the search results as cards
            const jobListingsDiv = document.getElementById('job-listings');
            jobListingsDiv.innerHTML = '';
            data.forEach(jobListing => {
                const card = createJobListingCard(jobListing);
                jobListingsDiv.appendChild(card);
            });

            // Hide the internships section
            const internshipsSection = document.getElementById('internships');
            internshipsSection.style.display = 'none';

            // Hide the contents of the 'top' element
            const topElement = document.getElementById('top');
            topElement.innerHTML = '';


        }

        // Add an event listener to the search form to handle form submission
        const searchForm = document.querySelector('form');
        searchForm.addEventListener('submit', async (event) => {
            event.preventDefault(); // Prevent default form submission behavior
            await performSearch();
        });
    </script>




    <script>
        // Get the Role dropdown element
        const roleSelect = document.getElementById("roleSelect");

        // Get the Company Name dropdown element
        const companyNameSelect = document.getElementById("companyNameSelect");

        // Listen for the onchange event on the Company Name dropdown
        companyNameSelect.addEventListener("change", function () {
            const selectedCompany = this.value;

            // Show only the Role options that match the selected company
            const roleOptions = document.getElementsByClassName("roleOption");
            for (const option of roleOptions) {
                const dataCompany = option.getAttribute("data-company");
                option.style.display = dataCompany === selectedCompany ? "block" : "none";
            }
        });
    </script>


<script>
  // Add an event listener to the submit button
  document.getElementById('submitButton').addEventListener('click', function (event) {
    event.preventDefault(); // Prevent the default form submission behavior

    // Show the SweetAlert2 confirmation popup
    Swal.fire({
      title: 'Upload Resume?',
      text: 'Are you sure you want to upload Resume?',
      icon:  'success',
      showCancelButton: true,
      confirmButtonText: ' Comfirm ',
      cancelButtonText: ' Cancel ',
    }).then((result) => {
      if (result.isConfirmed) {
        // If the user confirms, submit the form
        document.getElementById('sub').submit();
      }
    });
  });
</script>








    <script>
        $(document).ready(function () {
            // Function to close all collapse buttons except the one clicked
            function closeOtherCollapses(clickedCollapse) {
                const allCollapses = document.querySelectorAll(".collapse");
                allCollapses.forEach((collapse) => {
                    if (collapse !== clickedCollapse && collapse.classList.contains("show")) {
                        $(collapse).collapse("hide");
                    }
                });
            }

            // Add an event listener to the parent element to handle dynamic buttons
            $(".job-listings").on("click", ".btn-primary", function () {
                // Close other collapses
                closeOtherCollapses($(this).closest(".card").find(".collapse")[0]);
            });
        });
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="sweetalert2.all.min.js"></script>

</body>

</html>

<!-- <script>
        $(document).ready(function () {
            // Function to close all collapse buttons except the one clicked
            function closeOtherCollapses(clickedCollapse) {
                const allCollapses = document.querySelectorAll(".collapse");
                allCollapses.forEach((collapse) => {
                    if (collapse !== clickedCollapse && collapse.classList.contains("show")) {
                        $(collapse).collapse("hide");
                    }
                });
            }
       
            // Add an event listener to the parent element to handle dynamic buttons
            $(".job-listings").on("click", ".btn-primary", function () {
                // Get the card elements
                const card = $(this).closest(".card");
                const companyName = card.find(".company-name").text().trim();
                const role = card.find(".role").text().trim();
                const category = card.find(".category").text().trim();

                // Set the values in the form fields
                $("#companyNameSelect").val(companyName);
                $("#roleSelect").val(role);
                $("#specificSizeSelect").val(category);

                // Close other collapses
                closeOtherCollapses(card.find(".collapse")[0]);
            });

            
        });
    </script> -->